@{
    ViewData["Title"] = "Test evertec inc";
}

<div class="text-center">
     <div class="col">
      <img src="https://mms.businesswire.com/media/20190116005163/es/612424/23/Logo.jpg" alt="" class="img-fluid" width="200px">
    </div>
    <h1 class="display-4">Solución al Reto</h1>
    <p>Repositorio: <a href="https://github.com/CodeMasterDavidRosero">Mi perfil en Github</a>.</p>
    <h1 class="display-4">Click en la pestaña CRUD Personas ↑</h1>
    <h3>David Fernando Rosero Guerrero</h3>
    <h2>evertec</h2>

</div>
